body{
    margin: 0;
    background-color: #3e4059;

}
.nav{
    background-color: rgb(30, 91, 91);
    height: 90px;
   
}

.left{
    display: block;
    margin-top: 50px;
    border-radius: 12px;
    background-color: #15172b;
    top: 0px;
    width: 300px;
    height: 1000px;
    
}

.right{
    background-color: #3e4059;
}
.addBook {
    position: absolute;
    top: 350px;
    left: 680px;
    background-color: white;
    color: black;
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
  }
  
  .addBook:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
  };
  
  .addBook:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
  };

  .pos{
    height: 500px;
    margin-top: 50px;
    
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    
    padding: 20px;
    width: 300px;
  }



.form {
  
  
    position: absolute;
    top: 0px;
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 300px;
  }
  
  .title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    
  }
  
  .subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .input-container {
    margin-top: 40px;
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .ic{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: #808097;
  }
  
  .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    width: 100%;
  }
  
 


  .submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    text-align: center;
    width: 100%;
  }
  
  .submit:active {
    background-color: #06b;
  }